# Virtual environments

# Python cache
__pycache__/
*.pyc
*.pyo

# ML artifacts
*.pth
*.pt
torch_extensions/

# OS files
.DS_Store

# Data Path
fluid-rvpm/fluid-result/results
solid-fenics/airfoil_output

.vscode/

